#tableBackgroup{

	background-color: white;
	margin-top: 5%;
}

#transparent-menu{

	color: black;
}

#searchItems{

	margin-top: 3%;
	width: 80%;
}

#searchItemsButton{

	margin-top: -5%;
	margin-left: 80%;
}