<header>
  <div class="ui large inverted menu">
  <div class="ui container">
    <a class="item ui large secondary button" id="simple-menu" href="#sidr"><i class="sidebar icon"></i></a>
    <a href="#/"><img class="item" src="../img/Fugazzidrop 51.png"></a>
    <div class="right menu">
      <a class="item" ng-click="logout()" >
        <i class="sign out icon"></i>
          Logout
      </a>
      <div id="rightMenuItems">
        <img class="ui avatar image" ng-src="{{userProfile.picture}}">
        <span ng-bind="userProfile.name"></span>
      </div> 
    </div>
  </div>
</div>
</header>

<section id="section1">
  <div class="container">

    <form class="ui form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>Pick Up Location</label>
            <span ng-bind="pickUp"></span>
          </div>
          <div class="field">
            <label>Destination Location</label>
            <span ng-bind="destination"></span>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Kilometers</label>
            <span ng-bind="kms"></span>
          </div>
          <div class="field">
            <label>Time</label>
            <span ng-bind="time"></span>
          </div>
        </div>
        <div class="two fields" ng-show="showTotalPrice">
          <div class="field">
            <label>Total Number Of Items</label>
            <span ng-bind="itemsNo"></span>
          </div>
          <div class="field">
            <label>Total Price</label>
            <span>{{totalPrice | currency : "R"}}</span>
          </div>
        </div>
      </div>
    </form>

    <div mass-autocomplete id="searchItems">
      <input ng-model="dirty.value"
             mass-autocomplete-item="autocomplete_options"
             placeholder="Search for items"
             class="form-control">
    </div>

    <button class="btn btn-warning" ng-click="addToBuscket()" ng-show="showAdd" id="ItemsButton">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Add
    </button>
    <button class="btn btn-success" ng-show="showFinish" ng-click="calculatePrice()" id="ItemsButton">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      Finish
    </button>

    <div class="alert alert-danger" role="alert" ng-show="showFail">
      <b>Sorry!</b> Item already in buscket, please select a diffrent item or finish
    </div> 
  </div>  
</section>

<section id="section2" class="container">
  <h1>Selected Items</h1>
  <br/>
        
  <table class="table table-striped">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      <tr ng-repeat="itemObject in buscket">
        <td>
          {{itemObject.Item}}
        </td>
        <td>
          <button class="btn btn-danger" ng-click="removeFromBuscket($index)" style="font-weight: bold;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
      

