<div class="ui large inverted menu">
  <div class="ui container">
    <div class="right menu">
      <a class="item" ng-click="logout()" >
        <i class="sign out icon"></i>
          Logout
      </a>
      <div id="rightMenuItems">
        <img class="ui avatar image" ng-src="{{userProfile.picture}}">
        <span ng-bind="userProfile.name"></span>
      </div> 
    </div>
  </div>
</div>

<div class="container">
	<div id="tableBackgroup">
		<table class="table table-striped">
			<thead>
				<th>Items</th>
			</thead>
			<tbody>
				<tr ng-repeat="allItem in allItems">
					<td ng-bind="allItem.Item"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>