    <header id="top" class="header" id="home">
    	<a class="ui large secondary button" id="simple-menu" href="#sidr"><i class="sidebar icon"></i></a>
    	<div class="dropper-login-logo">
            <a id="login-button" class="btn btn-dark btn-lg" ng-click="login()">Login</a>
    	</div>
    </header>

     <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Dropper</h2>
                    <p class="lead">
                    	Is a way to move goods or items from one place to another. It provides a platform whereby you are able to request a drop from one location to another, enter the goods to be delivered, get a price instantly, and accept the qoute and the nearest well trained driver is dispatched to help with the delivery. We have a pool of drivers to meet your needs.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tachometer fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Dropper On Demand</strong>
                                </h4>
                                <p>Where you need a driver immediately to carry your goods, a dropper is available at the palms of your hands.
                            	</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shopping-basket fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>All Items</strong>
                                </h4>
                                <p>We cater for all types of items and in any size they come in.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-truck fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Vehicles</strong>
                                </h4>
                                <p>We provide different types of vehicles to suite your delivery needs. Dropper is even able to automatically detect the type of vehicle you will need.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-gift fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Packaging</strong>
                                </h4>
                                <p>Packaging services are also provided. We do boxing, bubble rapping, list goes on.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    